@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: Lexend Mega;
    background-color: black;
    color: white;
}

header {
    font-size: larger;
    letter-spacing: .2em;
    text-align: center;
}


a:hover,
a:visited,
a:link,
a:active {
    letter-spacing: 0.1em;
    color: white;
    text-decoration: none;
}

.sideBar {
    position: fixed;
    height: 100vh;
    background: #595c5a;
    font-size: 0.90em;
    top: 0;
    left: 0;
    border-right: solid;
    border-color: gold;
}

#navBar {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

ul.navMenu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 10px;
    padding-top: 50px;
}

hr{
	border-top: 1px solid #ffd700;
}

.navMenu li{
    list-style: none;
    /*text-decoration: none;*/
	border-bottom: 2px solid #595c5a;
}

.navMenu li:hover{
	text-decoration: none;
	border-bottom: 2px solid #ffd700;
}