@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hidden{

}

body {
    font-family: Lexend Mega;
    background-color: #2b2b2a;
    color: white;
    margin:0;
}

header {
    font-size: 20px;
    letter-spacing: .2em;
    text-align: center;
}

section header {
    font-size: 25px;
    padding: 10px;
}


a:hover,
a:visited,
a:link,
a:active {
    letter-spacing: 0.1em;
    color: white;
    text-decoration: none;
}

.sideBar {
    position: fixed;
    height: 100vh;
    background: #595c5a;
    font-size: 0.90em;
    top: 0;
    left: 0;
    border-right: solid;
    border-color: gold;
}

#navbar {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}
@media only screen and (max-width: 815px) {
  /* For mobile phones: */


  .sideBar{
        /* position: absolute; */
    /* height: 95vh; */
    background: #595c5a;
    font-size: 0.90em;
    top: 0;
    max-height: 275px;
    /* left: 2px; */
    border-right: solid;
    border-color: gold;
    /* padding: 50px; */
    margin: 15px;
    display: flex;
    border-radius: 15px;
    z-index: 1;
    block-size: 900px;
    justify-content: center;
    flex-direction: column;
}





  }
  #navbar{
    
  }

  #main-doc{
    padding-top: 290px !important;
    margin-left: 0px !important;
  }
}

ul.navMenu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 10px;
    padding-top: 50px;
}

hr {
    border-top: 1px solid #ffd700;
}

.navMenu li {
    list-style: none;
    /*text-decoration: none;*/
    border-bottom: 2px solid #595c5a;
}

.navMenu li:hover {
    text-decoration: none;
    border-bottom: 2px solid #ffd700;
}

#main-doc {
    position: absolute;
    margin-left: 410px;
    padding: 20px;
    margin-bottom: 110px;
    color: #ebeae8;
}

#main-doc header {
    text-align: left;
    font-weight: 900;
    font-style: bold;
}

.example {
    background-color: #595c5a;
    padding: 8px;
    border-radius: 15px;
    margin: 10px;
}

.example-gold {
    background-color: black;
    padding: 1px;
    border-radius: 15px;
    color: gold;
    padding-left: 6px;
    display: flex;
    justify-content: space-between;
}

.example-gold button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: gold;
    padding-right: 15px;
    font-weight: 900;
    display: none;
}

a {
    text-decoration: underline wavy gold;
}

#image-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



