doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Java Documentation
		style
			include ../css/styles.css
	body
		aside.sideBar
			nav#navBar
				header Java Documentation
				hr
				ul.navMenu
					li
						a(href="") Intro
					li
						a(href="") What you should know Java
					li
						a(href="") Get in Started
					li
						a(href="") Syntax
					li
						a(href="") Comments
					li
						a(href="") Variables
					li
						a(href="") Data types

		main#main-doc
			section.main-section#Introduction
				header Introduction
				arcticle
					p 
						b Java 
						| was developed by 
						b Sun Microsystems Inc 
						| in the year 1991, later acquired by Oracle |Corporation. It was developed by James Gosling and Patrick Naughton. It is a simple programming |language. Java	makes writing, compiling, and debugging programming easy. It helps to create |reusable code and modular programs.

						p It used for : 
							ul
								li Mobile applications (specially Android apps)
								li Desktop applications
								li Web applications
								li Web servers and application servers
								li Games
								li Database connection
								li And much, much more!
			section.main-section#why_Java
				header Why you should know Java
				arcticle
					ul
						li Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)
						li It is one of the most popular programming language in the world
						li It is easy to learn and simple to use
						li It is open-source and free
						li It is secure, fast and powerful
						li It has a huge community support (tens of millions of developers)
						li Java is an object oriented language which gives a clear structure to programs and allows code to be reused, lowering development costs
			section.main-section#getInStarted
				header Get in Started
				arcticle
					p
						


		