doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Java Documentation
		style
			include ../Cssp/styles.css
	body
		aside.sideBar
			nav#navBar
				header Java Documentation
				ul.navMenu
					li
						a(href="") Intro
					li
						a(href="") What you should know Java
					li
						a(href="") Get in Started
					li
						a(href="") Syntax
					li
						a(href="") Comments
					li
						a(href="") Variables
					li
						a(href="") Data types

		main#main-doc
			section.main-section#Introduction
				header
		