doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/page-facing-up_1f4c4.png")
		title Java Documentation
		style
			include ../public/views/styles.css
	body
		aside.sideBar
			nav#navBar
				header Java Documentation
				hr
				ul.navMenu
					li
						a(href="") Intro
					li
						a(href="") What you should know Java
					li
						a(href="") Get Started
					li
						a(href="") Syntax
					li
						a(href="") Comments
					li
						a(href="") Variables
					li
						a(href="") Data types

		main#main-doc
			section.main-section#Introduction
				header Introduction
				arcticle
					p 
						b Java 
						| was developed by 
						b Sun Microsystems Inc 
						| in the year 1991, later acquired by Oracle |Corporation. It was developed by James Gosling and Patrick Naughton. It is a simple programming |language. Java	makes writing, compiling, and debugging programming easy. It helps to create |reusable code and modular programs.

						p It used for : 
							ul
								li Mobile applications (specially Android apps)
								li Desktop applications
								li Web applications
								li Web servers and application servers
								li Games
								li Database connection
								li And much, much more!
			section.main-section#why_Java
				header Why you should know Java
				arcticle
					P
						|	Java is a well dynamic programing languege for beginner and it share lots of the characteristis of the top level language.
					ul
						li Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)
						li It is one of the most popular programming language in the world
						li It is easy to learn and simple to use
						li It is open-source and free
						li It is secure, fast and powerful
						li It has a huge community support (tens of millions of developers)
						li Java is an object oriented language which gives a clear structure to programs and allows code to be reused, lowering development costs
			section.main-section#getInStarted
				header Get Started
				arcticle
					p Many PC are different, this would be structor for windows users.

					p First let verify if Java is installed on your PC, search for the command line or command prompt(cmd) and type with me:

					div.example
						div.example-gold
							p#command c:\Users\[Your Name]> Java -version
							button#copy(type="button" ) Copy

					p If Java is installed, you will see something similar as this.

					div.example
						div.example-gold
							p#command 
								|java version "11.0.1" 2018-10-16 LTS <br />
								|java(TM) SE Runtime Environment 18.9 (build 11.0.1+13-LTS) <br />
								|java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.1+13-LTS, mixed mode)

					p If is not installed you will have to download requirements
					ul
						li Java Development Kit
							a(href="https://www.oracle.com/java/technologies/javase-jdk15-downloads.html") &nbsp; ➡ Download
						p 
							|This is a Java a compiler created by Oracle, The Java compiler helps translate are code to |java so the computer understand what is are instruction.
						li Eclipse or any other IDE
							a(href="https://www.eclipse.org/downloads/") &nbsp; ➡ Download
						p 
							|It is an IDE where you will write, deploy and test your code. It the equivalent of Microsoft word but design for code writing this tool would help you write better code. There are ton of IDE and I recommend to try them all and stick to your favorite because moving around to different IDE gets messy.

					p After Downloading and installing open up eclipse
						ul
							li Go to top menu ↪ File ↪ New ↪ Java Project
					img#image-1(src="http://pages.cs.wisc.edu/~cs302/labs/EclipseTutorial/images/new_project.png" alt="eclipse creating new file")
					p In project name: HelloWorld 
					img#image-1(src="http://pages.cs.wisc.edu/~cs302/labs/EclipseTutorial/images/new_java_project_wizard.png")
					p After finishing you will see the project folder
					img#image-1(src="http://pages.cs.wisc.edu/~cs302/labs/EclipseTutorial/images/non_empty_workspace.png")
					p Right-Click the folder ↪ New ↪ Class
					img#image-1(src="http://pages.cs.wisc.edu/~cs302/labs/EclipseTutorial/images/new_class.png")
					p In name: HelloWorld
					img#image-1(src="http://pages.cs.wisc.edu/~cs302/labs/EclipseTutorial/images/new_class_wizard.png")
					p Now that we complete the setup, let write a little program.
					img#image-1(src="http://pages.cs.wisc.edu/~cs302/labs/EclipseTutorial/images/hello_world.png")
					p In the bottom theirs a console with the output.

					div.example
						div.example-gold
							p#command 
								|Hello World



		